*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    perspective: 600px;
    background-color: #f6ede5;
}
.container{
    width: 90%;
    margin: auto;
}
section{
    margin: 100px auto;
}

p::selection,
h1::selection,
h2::selection,
span::selection,
button::selection,
ul::selection,
li::selection,
.search::selection,
img::selection,
div::selection,
i::selection,
option::selection,
.select::selection
{
    background-color: #9C6644;
    color: white;
}